<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Paginating</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" />
</head>
<body>
	<div class="container mt-5">
		<h3>PAGINATION</h3>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Price</th>
					<th>Date</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="item: ${page.content}">
					<tr>
						<td th:text="${item.id}"></td>
						<td th:text="${item.name}"></td>
						<td th:text="${item.price}"></td>
						<td th:text="${item.createDate}"></td>
					</tr>
				</th:block>
			</tbody>
		</table>

		<div class="d-flex justify-content-between mb-3">
			<a th:href="@{|/product/page?p=0|}" class="btn btn-primary">First</a>
			<a th:href="@{|/product/page?p=${page.number - 1}|}"
				class="btn btn-secondary" th:disabled="${page.number == 0}">Previous</a>
			<a th:href="@{|/product/page?p=${page.number + 1}|}"
				class="btn btn-secondary"
				th:disabled="${page.number + 1 >= page.totalPages}">Next</a> <a
				th:href="@{|/product/page?p=${page.totalPages - 1}|}"
				class="btn btn-primary">Last</a>
		</div>

		<ul class="list-group mb-3">
			<li class="list-group-item">Số thực thể hiện tại: <strong
				th:text="${page.numberOfElements}"></strong></li>
			<li class="list-group-item">Trang số: <strong
				th:text="${page.number}"></strong></li>
			<li class="list-group-item">Kích thước trang: <strong
				th:text="${page.size}"></strong></li>
			<li class="list-group-item">Tổng số thực thể: <strong
				th:text="${page.totalElements}"></strong></li>
			<li class="list-group-item">Tổng số trang: <strong
				th:text="${page.totalPages}"></strong></li>
		</ul>
	</div>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.slim.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"></script>
</body>
</html>